:root {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue';
  color: #181D48;
}

.container {
  height: 100vh;
  width: 100%;
}

.navburger {
  height: 25px;
  width: 25px;
  position: absolute;
  top: 22px;
  left: 25px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

.navburger span {
  width: 100%;
  height: 3px;
  background: #181D48;
  margin: 2px 0;
}

#search {
  height: 25px;
  width: 25px;
  position: absolute;
  top: 35px;
  right: 85px;
  background: url("../img/svg/search_icon.svg");
  background-size: cover;
  cursor: pointer;
}

#logo {
  height: 68px;
  width: 68px;
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: url("../img/duckfeet_logo_dark.png");
  background-size: cover;
  cursor: pointer;
}

#cart {
  height: 27px;
  width: 46px;
  position: absolute;
  top: 35px;
  right: 25px;
  background: url("../img/svg/cart_icon.svg");
  background-size: cover;
  cursor: pointer;
}

nav {
  height: 100px;
  width: 100%;
  z-index: 5;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 0;
  width: 80%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 4;
}

nav ul :nth-child(1) {
  margin-right: 9%;
}

nav ul :nth-child(2) {
  margin-right: 11%;
}

nav ul :nth-child(3) {
  margin-left: 11%;
}

nav ul :nth-child(4) {
  margin-left: 9%;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #181D48;
  font-weight: 700;
  font-size: 1.5625rem;
}

@media (max-width: 800px) {
  .navburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navburger .icon-active {
    display: none;
  }
  #search {
    height: 22px;
    width: 22px;
    top: 22px;
  }
  #logo {
    height: 48px;
    width: 48px;
    top: 5px;
  }
  #cart {
    height: 22px;
    width: 40px;
    top: 22px;
  }
  nav {
    height: 60px;
  }
  nav .menu-active {
    -webkit-transform: translateY(110px);
            transform: translateY(110px);
  }
  nav ul {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px);
  }
  nav ul li {
    background: #fff;
    width: 100%;
    text-align: center;
    min-height: 40px;
  }
  nav ul :nth-child(1) {
    margin: 0;
  }
  nav ul :nth-child(2) {
    margin: 0;
  }
  nav ul :nth-child(3) {
    margin: 0;
  }
  nav ul :nth-child(4) {
    margin: 0;
  }
}

#header {
  width: 100%;
  height: 90vh;
  background: url("../img/header_image.jpg") no-repeat 50% 50%;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .text-wrapper {
  width: 20%;
}

#header h1 {
  color: #fff;
  font-family: 'Din Condensed';
  font-weight: 700;
  font-size: 3.75rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  margin: 0;
  text-align: center;
}

#header h1 span {
  font-size: 5rem;
  letter-spacing: 0.6rem;
}

#header #second-text {
  margin-top: 15%;
  font-size: 4.0625rem;
}

#header a {
  height: 27px;
  width: 67px;
  background: url("../img/svg/arrow_light.svg") no-repeat 50% 50%;
  background-size: cover;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media (max-width: 1024px) {
  #header h1 {
    font-size: 3rem;
  }
  #header h1 span {
    font-size: 4rem;
  }
  #header #second-text {
    font-size: 3.5rem;
  }
}

@media (max-width: 800px) {
  #header h1 br {
    display: none;
  }
}

#featured-section {
  height: 100vh;
  position: relative;
}

#featured-section #featured-button {
  color: #fff;
  position: absolute;
  top: 10%;
}

#featured-section #featured-button span {
  margin-top: 10px;
}

#featured-section #left-arrow, #featured-section #right-arrow {
  height: 67px;
  width: 27px;
  background: url("../img/svg/arrow_dark.svg") no-repeat 50% 50%;
  background-size: cover;
  margin: auto;
  position: absolute;
  top: 50%;
  cursor: pointer;
}

#featured-section #left-arrow {
  left: 15px;
}

#featured-section #right-arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  right: 15px;
}

#featured-section .slide {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  height: 100%;
  width: 94%;
  margin: 0 auto;
}

#featured-section .text-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#featured-section .text-section .text-wrapper {
  height: 370px;
  width: 370px;
  padding-left: 20px;
  border-left: solid #181D48 3px;
}

#featured-section .text-section .text-wrapper h1 {
  font-family: 'Din Condensed';
  font-weight: 700;
  font-size: 6.875rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  margin: 0;
}

#featured-section .text-section .text-wrapper p {
  font-weight: 300;
  font-size: 2.1875rem;
  margin: 15px 0;
}

#featured-section #faborg-image {
  background: url("../img/faborg_group.png") no-repeat 50% 50%;
  background-size: contain;
}

#featured-section #alborg-image {
  background: url("../img/alborg_group.png") no-repeat 50%;
  background-size: contain;
}

#featured-section #tonder-image {
  background: url("../img/tonder_group.png") no-repeat 50%;
  background-size: contain;
}

button {
  font-family: 'Din Condensed';
  font-size: 2.1875rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  background-color: #181D48;
  border: none;
  width: 210px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button a {
  margin-top: 10px;
  text-align: center;
  color: #fff;
  text-decoration: none;
}

button#small {
  font-size: 2rem;
}

#info-section {
  width: 100%;
  height: 100vh;
  background: url("../img/section_image.jpg") no-repeat;
  background-size: cover;
  background-position: bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#info-section .info-content {
  width: 50%;
  margin-left: 10%;
}

#info-section h1, #info-section h2 {
  font-family: 'Din Condensed';
  color: #fff;
  margin: 0;
  text-transform: uppercase;
}

#info-section h1 {
  font-size: 6.875rem;
  letter-spacing: 0.6rem;
  line-height: 0.6;
}

#info-section h2 {
  font-size: 5rem;
  letter-spacing: 0.4rem;
}

#info-section p {
  font-size: 2.375rem;
  font-weight: 300;
  color: #fff;
  margin: 0 0 50px 0;
}

#footer {
  width: 100%;
  height: 550px;
  background-color: #181D48;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

#footer #footer-top {
  height: 45%;
  width: 80%;
  margin: 0 auto;
  border-bottom: 1px solid #fff;
  padding-bottom: 30px;
}

#footer #footer-top h1 {
  font-family: 'Din Condensed';
  font-size: 3.75rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  text-align: center;
}

#footer #footer-top #social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

#footer #footer-top .social-icon {
  height: 60px;
  width: 60px;
  margin: 0 20px;
}

#footer #footer-top #facebook-icon {
  background: url("../img/svg/facebook_icon.svg");
  background-size: cover;
}

#footer #footer-top #twitter-icon {
  background: url("../img/svg/twitter_icon.svg");
  background-size: cover;
}

#footer #footer-top #instagram-icon {
  background: url("../img/svg/instagram_icon.svg");
  background-size: cover;
}

#footer #footer-top #youtube-icon {
  background: url("../img/svg/youtube_icon.svg");
  background-size: cover;
}

#footer #footer-bottom {
  height: 55%;
  width: 80%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  padding-top: 30px;
}

#footer #footer-bottom #footer-logo {
  height: 140px;
  width: 140px;
  background: url("../img/duckfeet_logo_light.png") no-repeat;
  background-size: contain;
}

#footer #footer-bottom .footer-list {
  margin: 0 30px;
}

#footer #footer-bottom p {
  letter-spacing: 0.15rem;
}

#footer #footer-bottom h2 {
  font-weight: 700;
  font-size: 1.375rem;
}

#footer #footer-bottom ul {
  list-style: none;
  padding: 0;
}

#footer #footer-bottom li {
  letter-spacing: 0.1rem;
  line-height: 2;
}

#footer #up-arrow {
  height: 12px;
  width: 43px;
  background: url("../img/svg/arrow_light.svg") no-repeat;
  position: absolute;
  top: 90%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

#footer #copyright {
  text-align: center;
}
