#featured-section {
    height: 100vh;
    position: relative;

    #featured-button {
        color: $light;
        position: absolute;
        top: 10%;

        span {
            margin-top: 10px;
        }
    }

    #left-arrow, #right-arrow {
        height: 67px;
        width: 27px;
        background: url('../img/svg/arrow_dark.svg') no-repeat 50% 50%;
        background-size: cover;
        margin: auto;
        position: absolute;
        top: 50%;
        cursor: pointer;
    }

    #left-arrow {
        left: 15px;
    }

    #right-arrow {
        transform: rotate(180deg);
        right: 15px;
    }

    .slide {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 100%;
        width: 94%;
        margin: 0 auto;
    }

    .text-section {
        display: flex;
        justify-content: center;
        align-items: center;

        .text-wrapper {
            height: 370px;
            width: 370px;
            
            padding-left: 20px;
            border-left: solid $dark 3px;

            h1 {
                font-family: 'Din Condensed';
                font-weight: 700;
                font-size: 6.875rem;
                letter-spacing: 0.3rem;
                text-transform: uppercase;
                margin: 0;
            }
    
            p {
                font-weight: 300;
                font-size: 2.1875rem;
                margin: 15px 0;
            }
        }
    }

    #faborg-image {
        background: url('../img/faborg_group.png') no-repeat 50% 50%;
        background-size: contain;
    }

    #alborg-image {
        background: url('../img/alborg_group.png') no-repeat 50%;
        background-size: contain;
    }

    #tonder-image {
        background: url('../img/tonder_group.png') no-repeat 50%;
        background-size: contain;
    }
}