#featured-section {
    height: 100vh;
    position: relative;

    #featured-button {
        color: $light;
        position: absolute;
        top: 10%;

        span {
            margin-top: 10px;
        }
    }

    #left-arrow, #right-arrow {
        height: 57px;
        width: 17px;
        background: url('../img/svg/arrow_dark.svg') no-repeat 50% 50%;
        background-size: contain;
        margin: auto;
        position: absolute;
        top: 50%;
        cursor: pointer;
    }

    #left-arrow {
        left: 15px;
    }

    #right-arrow {
        transform: rotate(180deg);
        right: 15px;
    }

    .slide {
        display: flex;
        height: 100%;
        width: 90%;
        margin: 0 auto;
    }

    .text-section {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;

        .text-wrapper {
            height: auto;
            padding-left: 20px;
            border-left: solid $dark 3px;

            h1 {
                font-family: 'Din Condensed';
                font-weight: 700;
                font-size: 6.875rem;
                letter-spacing: 0.3rem;
                text-transform: uppercase;
                margin: 0;
            }
    
            p {
                font-weight: 300;
                font-size: 2.1875rem;
                margin: 15px 0;
            }
        }
    }

    .image-section {
        width: 60%;
    }

    #faborg-image {
        background: url('../img/faborg.png') no-repeat 50% 50%;
        background-size: contain;
    }

    #alborg-image {
        background: url('../img/alborg.png') no-repeat 50%;
        background-size: contain;
    }

    #tonder-image {
        background: url('../img/tonder.png') no-repeat 50%;
        background-size: contain;
    }
}

@media (max-width: 900px) {
    #featured-section {
        .text-section {
            .text-wrapper {
                h1 {
                    font-size: 5.3rem;
                }

                p {
                    font-size: 1.7rem;
                }
            }
        }
    }
}

@media (max-width: 800px) {
    #featured-section {
        min-height: 450px;
        margin-bottom: 20px;
        
        #featured-button {
            top: 3%;
        }

        .slide {
            flex-direction: column;
        }
        
        .text-section {
            height: 20%;
            width: 100%;
            margin-bottom: 20px;

            .text-wrapper {
                border: none;
                height: auto;
                width: auto;
                padding: 0;

                h1 {
                    font-size: 4rem;
                }

                p {
                    display: none;
                }
            }

            button {
                width: 100%;
            }
        }

        .image-section {
            order: -1;
            height: 80%;
            width: auto;
            margin-right: 20px;
            margin-top: 40px;
        }

        #alborg-image, #tonder-image {
            transform: rotate(-30deg);
        }
    }
}