#footer {
    width: 100%;
    height: 550px;
    background-color: $dark;
    color: $light;
    display: flex;
    flex-direction: column;
    position: relative;

    #footer-top {
        height: 35%;
        width: 80%;
        margin: 0 auto;
        border-bottom: 1px solid $light;
        padding-bottom: 30px;

        h1 {
            font-family: 'Din Condensed';
            font-size: 3.75rem;
            letter-spacing: 0.3rem;
            text-transform: uppercase;
            text-align: center;
            margin: 20px 0;
        }

        #social {
            display: flex;
            justify-content: center;
            margin: 0 auto;
        }

        .social-icon {
            height: 60px;
            width: 60px;
            margin: 0 20px;
        }

        #facebook-icon {
            background: url('../img/svg/facebook_icon.svg');
            background-size: cover;
        }

        #twitter-icon {
            background: url('../img/svg/twitter_icon.svg');
            background-size: cover;
        }

        #instagram-icon {
            background: url('../img/svg/instagram_icon.svg');
            background-size: cover;
        }

        #youtube-icon {
            background: url('../img/svg/youtube_icon.svg');
            background-size: cover;
        }
    }

    #footer-bottom {
        height: 55%;
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        padding-top: 30px;

        #footer-logo {
            height: 140px;
            width: 140px;
            background: url('../img/duckfeet_logo_light.png') no-repeat;
            background-size: contain;
            margin-right: 30px;
        }

        .footer-list {
            margin: 0 15px;
        }

        h2 {
            font-weight: 700;
            font-size: 1.1rem;
        }

        ul {
            list-style: none;
            padding: 0;
        }

        li {
            letter-spacing: 0.1rem;
            line-height: 2;
        }
    }

    #up-arrow {
        height: 12px;
        width: 43px;
        background: url('../img/svg/arrow_light.svg') no-repeat;
        position: absolute;
        top: 90%;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    #copyright {
        height: 5%;
        text-align: center;
    }
}

@media (max-width: 1020px) {
   #footer {
        #footer-bottom {
            #footer-logo {
                height: 120px;
                width: 120px;
            }

            li {
                font-size: 12px;
            }
        }
   } 
}

@media (max-width: 900px) {
    #footer {
        height: 300px;

        #footer-top {
            border: none;
            padding: 0;
            height: auto;

            h1 {
                font-size: 2.5rem;
            }

            .social-icon {
                height: 40px;
                width: 40px;
                margin: 0 10px;
            }
        }

        #footer-bottom {
            height: auto;
            padding: 0;

            #footer-logo {
                display: none;
            }

            ul {
                display: none;
            }
        }
    }
}