#footer {
    width: 100%;
    height: 550px;
    background-color: $dark;
    color: $light;
    display: flex;
    flex-direction: column;
    position: relative;

    #footer-top {
        height: 45%;
        width: 80%;
        margin: 0 auto;
        border-bottom: 1px solid $light;
        padding-bottom: 30px;

        h1 {
            font-family: 'Din Condensed';
            font-size: 3.75rem;
            letter-spacing: 0.3rem;
            text-transform: uppercase;
            text-align: center;
        }

        #social {
            display: flex;
            justify-content: center;
            margin: 0 auto;
        }

        .social-icon {
            height: 60px;
            width: 60px;
            margin: 0 20px;
        }

        #facebook-icon {
            background: url('../img/svg/facebook_icon.svg');
            background-size: cover;
        }

        #twitter-icon {
            background: url('../img/svg/twitter_icon.svg');
            background-size: cover;
        }

        #instagram-icon {
            background: url('../img/svg/instagram_icon.svg');
            background-size: cover;
        }

        #youtube-icon {
            background: url('../img/svg/youtube_icon.svg');
            background-size: cover;
        }
    }

    #footer-bottom {
        height: 55%;
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        padding-top: 30px;

        #footer-logo {
            height: 140px;
            width: 140px;
            background: url('../img/duckfeet_logo_light.png') no-repeat;
            background-size: contain;
        }

        .footer-list {
            margin: 0 30px;
        }

        p {
            letter-spacing: 0.15rem;
        }

        h2 {
            font-weight: 700;
            font-size: 1.375rem;
        }

        ul {
            list-style: none;
            padding: 0;
        }

        li {
            letter-spacing: 0.1rem;
            line-height: 2;
        }
    }

    #up-arrow {
        height: 12px;
        width: 43px;
        background: url('../img/svg/arrow_light.svg') no-repeat;
        position: absolute;
        top: 90%;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    #copyright {
        text-align: center;
    }
}